.main {
	.offers {
		&__card {
			&:nth-child(5) {
				grid-row: 5/6;
			}
			&:nth-child(6) {
				grid-row: 6/7;
			}
		}
	}
}

@media (min-width: 768px) {
	.main {
		.offers {
			&__card {
				&:nth-child(5),
				&:nth-child(6) {
					grid-row: 3/4;
				}
				&:nth-child(5) {
					grid-column: 1/2;
				}
				&:nth-child(6) {
					grid-column: 2/3;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.main {
		.offers {
			&__card {
				&:nth-child(5),
				&:nth-child(6) {
					grid-row: 2/3;
				}
				&:nth-child(4) {
					grid-column: 1/2;
				}
				&:nth-child(5) {
					grid-column: 2/3;
				}
				&:nth-child(6) {
					grid-column: 3/4;
				}
			}
		}
	}
}
